__pycache__/callbacks.cpython-310.pyc
__pycache__/layouts.cpython-310.pyc
__pycache__/utils.cpython-310.pyc

TSD.code-workspace
application/__pycache__/callbacks.cpython-310.pyc
application/__pycache__/layouts.cpython-310.pyc
application/__pycache__/utils.cpython-310.pyc
